{% extends 'base.html'%}
{% load crispy_forms_tags %}
{% block content%}
<div class="container">
    <div class="row">
        {% for facility in facilities %}
        {{facility.name}}
        <img src="{{facility.image.url}}" class="image-responsive" alt="facility image">
        {% empty %}
        <p>No facilities have been posted yet</p>
        {% endfor %}
    </div>
    <form action="" method="post" enctype="multipart/form-data">
        {% csrf_token %}
        {{form|crispy}}
        <button class="btn btn-outline-info btn-sm">Post</button>
    </form>
</div>
{% endblock %}