{% extends 'base.html'%}
{% block content%}
<div class="container">
    <a href="">
        <p>Add notice</p>
    </a>
    <div class="row">
        {% for notice in notices %}
        <div class="card card-default mb-4">
            <div class="card-header inline">
                <h4>{{notice.title}}</h4>
            </div>
            <div class="card-body">
                <p>{{notice.details}}</p>
            </div>
            <div class="card-footer">
                By:{{notice.author}}
            </div>
        </div>
        {% empty %}
        <p>No notices have been posted for your hood yet. Post
            <a href="">here</a>
        </p>
        {% endfor %}
    </div>
</div>
{% endblock %}